.overlay {
  width: 100%;
  position: relative;
  background: var(--secondary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}

.overlay .overlay-inner .close-btn {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 100%;
  background-color: var(--primary-dark);
  border-radius: 50px;
  color: white;
}

.overlay .overlay-inner .close-btn:hover {
  color: var(--primary-dark);
  background-color: white;
  outline: auto;
  border: auto;
  border-color: var(--primary-dark);
  cursor: pointer;
}

.overlay .overlay-inner .book-title {
  color: black;
  font-size: 30px;
}

.overlay-inner .inner-box {
  margin-top: 20px;
  display: flex;
}
.overlay-inner .inner-box img {
  margin-right: 20px;
  width: auto;
  height: 250px;
}

.overlay-inner .book-description {
  margin-top: 0.5rem;
  text-align: justify;
  font-size: 16px;
  width: 95%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overlay .overlay-inner .bookdetails-btn {
  position: relative;
  width: fit-content;
  height: 40px;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 100%;
  background-color: var(--primary-dark);
  border-radius: 50px;
  color: white;
}

.overlay .overlay-inner .bookdetails-btn:hover {
  color: var(--primary-dark);
  background-color: white;
  outline: auto;
  border: auto;
  border-color: var(--primary-dark);
  cursor: pointer;
  transform: scale(1.1);
}

.overlay .overlay-inner .bookdetails-cancel-btn {
  position: relative;
  width: 100px;
  height: 40px;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 100%;
  background-color: red;
  border-radius: 50px;
  color: black;
}

.overlay .overlay-inner .bookdetails-cancel-btn:hover {
  color: black;
  background-color: white;
  outline: auto;
  border: auto;
  border-color: red;
  cursor: pointer;
  transform: scale(1.1);
}
