.SearchPage {
    width: 100%;
    display: flex;
}

.SearchPage .searchpage-container {
    width: 100%;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.SearchPage .searchpage-container .searchpage-info {
 text-align: center;
}

.SearchPage .searchpage-container .form-container {
    width: 70%;
}
