.SearchPage {
    width: 100%;
    display: flex;
}

.SearchPage .searchpage-container {
    width: 100%;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.SearchPage .searchpage-container .searchpage-info {
 text-align: center;
}

.SearchPage .searchpage-container .searchpage-info h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-dark);
}

