<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Book Ordering</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
  <div id="main">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}"> Log In</a>
    {% else %}
    <a href="{% url 'logout' %}">Log Out</a>
    <div id="root"></div>
    {% endif %}
  </div>

  <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>