<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Book Ordering</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
  <div id="main">
    
<!--   Makes sure it's allowing data to be sent from the back-end to the front-end
  Stops any security issues and ensures the correct data is sent from the from vice versa-->
    {% csrf_token %}
    {% if not user.is_authenticated %}
<!--  If a user is not logged in, they'll see the following pages, it's just a link right now but we can reformat that to a login page -->
    <a href="{% url 'login' %}"> Log In</a>
    {% else %}
    <!-- This has been commented out fr styling purposes -->
    <!-- <a href="{% url 'logout' %}">Log Out</a> -->
    <div id="root"></div>
    {% endif %}
  </div>

  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>
