/* Waves Animation start */

.waves-svg {
  width: 100%;
  height: 100%;
}

.path-0{
  animation:pathAnim-0 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,500 C 0,500 0,100 0,100 C 199,96 398,92 638,92 C 878,92 1159,96 1440,100 C 1440,100 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,100 0,100 C 269,88.5 538,77 778,77 C 1018,77 1229,88.5 1440,100 C 1440,100 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,100 0,100 C 196.5,94 393,88 633,88 C 873,88 1156.5,94 1440,100 C 1440,100 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,100 0,100 C 261,94.5 522,89 762,89 C 1002,89 1221,94.5 1440,100 C 1440,100 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,100 0,100 C 199,96 398,92 638,92 C 878,92 1159,96 1440,100 C 1440,100 1440,500 1440,500 Z");
  }
}
  
 
.path-1{
  animation:pathAnim-1 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,500 C 0,500 0,200 0,200 C 203,184 406,168 646,168 C 886,168 1163,184 1440,200 C 1440,200 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,200 0,200 C 200,205.5 400,211 640,211 C 880,211 1160,205.5 1440,200 C 1440,200 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,200 0,200 C 179,204.5 358,209 598,209 C 838,209 1139,204.5 1440,200 C 1440,200 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,200 0,200 C 231.5,185.5 463,171 703,171 C 943,171 1191.5,185.5 1440,200 C 1440,200 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,200 0,200 C 203,184 406,168 646,168 C 886,168 1163,184 1440,200 C 1440,200 1440,500 1440,500 Z");
  }
}

.path-2{
  animation:pathAnim-2 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
  0%{
    d: path("M 0,500 C 0,500 0,300 0,300 C 185,306 370,312 610,312 C 850,312 1145,306 1440,300 C 1440,300 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,300 0,300 C 222.5,317.5 445,335 685,335 C 925,335 1182.5,317.5 1440,300 C 1440,300 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,300 0,300 C 214,292.5 428,285 668,285 C 908,285 1174,292.5 1440,300 C 1440,300 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,300 0,300 C 213,295 426,290 666,290 C 906,290 1173,295 1440,300 C 1440,300 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,300 0,300 C 185,306 370,312 610,312 C 850,312 1145,306 1440,300 C 1440,300 1440,500 1440,500 Z");
  }
}

.path-3{
  animation:pathAnim-3 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3{
  0%{
    d: path("M 0,500 C 0,500 0,400 0,400 C 190,404 380,408 620,408 C 860,408 1150,404 1440,400 C 1440,400 1440,500 1440,500 Z");
  }
  25%{
    d: path("M 0,500 C 0,500 0,400 0,400 C 195,414.5 390,429 630,429 C 870,429 1155,414.5 1440,400 C 1440,400 1440,500 1440,500 Z");
  }
  50%{
    d: path("M 0,500 C 0,500 0,400 0,400 C 194.5,394 389,388 629,388 C 869,388 1154.5,394 1440,400 C 1440,400 1440,500 1440,500 Z");
  }
  75%{
    d: path("M 0,500 C 0,500 0,400 0,400 C 291,411 582,422 822,422 C 1062,422 1251,411 1440,400 C 1440,400 1440,500 1440,500 Z");
  }
  100%{
    d: path("M 0,500 C 0,500 0,400 0,400 C 190,404 380,408 620,408 C 860,408 1150,404 1440,400 C 1440,400 1440,500 1440,500 Z");
  }
}
